<nav class="navbar navbar-default" role="navigation">
  <div class="container-fluid">
    <div class="navbar-header">
      {{#link-to 'notes' class="navbar-brand"}}Bartleby{{/link-to}}
    </div>
  </div>
</nav>

<div class="container">
  <div class="row">
    <div class="col-md-12">
      {{outlet}}
    </div>
  </div>
</div>